header {
    align-items: center;
    margin-bottom: 15px;
    display: flex;
    justify-content: left;
    background: rgb(209, 207, 207);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
header > .brand-logo {
    margin-left: 15px;
    margin-right: 15px;
}
header > h1 {
    float: right;
}