<h2>Universidades</h2>
<ul class="unis">
  <li *ngFor = "let universidad of universidades">
    <button type="button" (click)="onSelect(universidad)" [class.selected]="universidad === uniSeleccionada">
      <span class="badge">{{universidad.id}}</span>
      <span class="name">{{universidad.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="uniSeleccionada">
  <h2>Detalles de {{uniSeleccionada.name | uppercase}}</h2>
  <div>id: {{uniSeleccionada.id}}</div>
  <div>
    <label for="universidad-name">Nombre de la Universidad: </label>
    <input id="universidad-name" [(ngModel)]="uniSeleccionada.name" placeholder="nombre de la universidad">
  </div>
</div>
