<div *ngIf="universidad">
    <h2>Detalles de {{universidad.name | uppercase}}</h2>
    <div><span>id: </span> {{universidad.id}}</div>
    <div>
      <label for="universidad-name">Nombre de la Universidad: </label>
      <input id="universidad-name" [(ngModel)]="universidad.name" placeholder="Nombre de la universidad">
    </div>
    <div>
      <label for="universidad-name">Ubicación: </label>
      <input id="universidad-name" [(ngModel)]="universidad.ciudad" placeholder="Ubicación de la universidad">
    </div>
    <div>
      <img id="universidad-image" [src]="universidad.image">
    </div>
    <button type="button" (click)="goBack()">Volver</button>
    <button type="button" (click)="save()">Guardar</button>
  </div>
